<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <title>Airport Website</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Dark mode -->
    <script type="text/javascript">
      var theme = localStorage.getItem("data-theme");
      var root = document.documentElement;
      if (theme === "dark" && theme !== undefined) {
        root.classList.add("dark-mode");
      } else {
        root.classList.remove("dark-mode");
      }
    </script>
    <!-- Favicon -->
    <link rel="shortcut icon" href=" {% static 'assets/images/favicon.png' %} " />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link rel="stylesheet" href=" {% static 'css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap' %} " />

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href=" {% static 'assets/vendor/font-awesome/css/all.min.css' %} " />
    <link rel="stylesheet" type="text/css" href=" {% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " />
    <link rel="stylesheet" type="text/css" href=" {% static 'assets/vendor/choices/css/choices.min.css' %} " />
    <link rel="stylesheet" type="text/css" href=" {% static 'assets/vendor/flatpickr/css/flatpickr.min.css' %} " />

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href=" {% static 'assets/css/style.css' %} " />

    <style>
      .section-main-page {
        background-image: url({% static 'assets/images/bg/10.jpg' %});
        background-position: center left;
        background-size: cover;
        height: 100vh;
      }
    </style>
  </head>

  <body>
    <!-- Header START -->
    <header class="header-sticky header-transparent">
      <!-- Logo Nav START -->
      <nav class="navbar navbar-light-static navbar-expand-xl">
        <div class="container-fluid px-md-6">
          <!-- Logo START -->
          <a class="navbar-brand" href="index">
            <img class="navbar-brand-item" src=" {% static 'assets/images/logo-icon.svg' %} " alt="logo" />
          </a>
          <!-- Logo END -->
          <!-- Main navbar START -->
          <div class="navbar-collapse collapse" id="navbarCollapse"></div>
          <!-- Main navbar END -->

          <!-- Nav category menu START -->
          <div class="navbar-collapse collapse" id="navbarCategoryCollapse">
            <ul class="navbar-nav navbar-nav-scroll nav-pills-primary-soft text-center ms-auto p-2 p-xl-0">
              <!-- Nav item Flight -->
              <li class="nav-item">
                <a href="sign-in" class="nav-link"><i class="fa-solid fa-right-to-bracket me-2"></i>Sign In</a>
              </li>
              <li class="nav-link modeswitch-mini me-2" id="darkModeSwitch">
                <div class="modeswitch-mini-item">
                  <div class="modeswitch-mini-icon"></div>
                </div>
              </li>
            </ul>
          </div>
          <!-- Nav category menu END -->
          {% if user.is_authenticated %}
          <!-- Profile and Notification START -->
          <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
            <!-- Profile dropdown START -->
            <li class="nav-item dropdown">
              <!-- Avatar -->
              <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="avatar-img rounded-2" src=" {% static 'assets/images/avatar/01.jpg' %} " alt="avatar" />
              </a>

              <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                <!-- Profile info -->
                <li class="px-3 mb-3">
                  <div class="d-flex align-items-center">
                    <!-- Avatar -->
                    <div class="avatar me-3">
                      <img class="avatar-img rounded-circle shadow" src=" {% static 'assets/images/avatar/01.jpg' %} " alt="avatar" />
                    </div>
                    <div>
                      <a class="h6 mt-2 mt-sm-0" href="/account-profile">{{ user.first_name }} {{ user.last_name }}</a>
                      <p class="small m-0">{{ user.username }}</p>
                    </div>
                  </div>
                </li>

                <!-- Links -->
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/account-bookings"><i class="bi bi-bookmark-check fa-fw me-2"></i>My Bookings</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/account-profile"><i class="bi bi-gear fa-fw me-2"></i>Settings</a>
                </li>
                <li>
                  <a class="dropdown-item bg-danger-soft-hover" href="{% url 'logout' %}"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a>
                </li>
              </ul>
            </li>
            <!-- Profile dropdown END -->
          </ul>
          <!-- Profile and Notification START -->
          {% endif %}
        </div>
      </nav>
      <!-- Logo Nav END -->
    </header>
    <!-- Header END -->

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
      <section class="py-xl-9 section-main-page">
        <!-- Title -->
        <div class="col-lg-9 text-center mx-auto">
          <!-- Title -->
          <h1>
            <span class="position-relative z-index-9"
              >Welcome Aboard!
              <!-- SVG START -->
              <span class="position-absolute top-50 start-50 translate-middle z-index-n1 d-none d-sm-block">
                <svg class="fill-info" width="356.55px" height="69px" viewbox="0 0 356.55 79.36">
                  <path
                    d="M0,56.76c13.15-11.68,37.75-14.87,47.45-15.62c20.85-1.62,41.75,1.22,62.2,5.16c43.41,8.37,85.85,20.68,129.83,26.22 c21.05,2.65,42.12,3.47,62.96-1.21c18.31-4.11,38.98-12.97,47.7-30.8C360.39,19.59,342.4,5,322.82,2.25 c-18.69-2.62-37.64,3.81-53.23,13.85c-2.82,1.82-5.87,4.32-8.53,5.85c12.91-10.62,28.31-18.89,45.01-21.3 c17.11-2.48,43.7,1.69,49.46,21.27c5.65,19.17-13.23,36.76-28.31,44.63c-18.02,9.41-39.47,13-59.65,12.81 c-44.06-0.42-88.81-11.18-131.38-21.67C97.79,48.21,42.36,30.73,0,56.76z"
                  ></path>
                </svg>
              </span>
              <!-- SVG END -->
            </span>
          </h1>
          <!-- Content -->
          <p class="mb-3">Feel free to explore stores and amenities in and around the Airport.</p>
          <br />
          <br />
        </div>
        <div class="bg-blur bg-white bg-opacity-10 border rounded-3 p-4">
          <!-- Form START -->
          <form class="row g-3 justify-content-center align-items-center" method="POST" action="/flight-detail-raw">
            {% csrf_token %}
            <div class="col-lg-5">
              <!-- Input -->
              <div class="form-input-dropdown position-relative">
                <input name="bookingID" class="form-control form-control-lg me-1 ps-5" type="text" placeholder="Enter Booking ID to get details of your flight.." required />
                <!-- Icon -->
                <span class="position-absolute top-50 start-0 translate-middle ps-5"><i class="bi bi-search fs-5"></i></span>
              </div>
            </div>

            <div class="col-lg-2 d-grid">
              <!-- Search -->
              <button type="submit" class="btn btn-lg btn-primary mb-0">Search<i class="bi bi-search ms-2"></i></button>
              <br />
              {% if user.is_authenticated %}
              <a href="index-flight" class="btn btn-lg btn-primary mb-0">Explore Flights <i class="fa-solid fa-plane me-2"></i></a>
              {% else %}
              <a href="{% url 'login' %}" class="btn btn-lg btn-primary mb-0">Explore Flights <i class="fa-solid fa-plane me-2"></i></a>
              {% endif %}
            </div>
          </form>
          <!-- Form END -->
        </div>
      </section>

      <br /><br /><br />

      <div class="container pb-6">
        <div class="row">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3884.4202093145204!2d77.70462441463737!3d13.198914113421194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1cfe75446265%3A0x296c70e9a129418e!2sKempegowda%20International%20Airport%20Bengaluru!5e0!3m2!1sen!2sin!4v1672409257703!5m2!1sen!2sin"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>

          <iframe src="https://www.bengaluruairport.com/map" width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <!-- Row END -->
      </div>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- =======================
Footer START -->
    <footer class="bg-dark p-3">
      <div class="container">
        <div class="row align-items-center">
          <!-- Widget -->
          <div class="col-md-4">
            <div class="text-center text-md-start mb-3 mb-md-0">
              <a href="index"> <img class="h-30px" src=" {% static 'assets/images/logo-light.svg' %} " alt="logo" /> </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- =======================
Footer END -->

    <!-- Back to top -->
    <div class="back-top"></div>

    <!-- Bootstrap JS -->
    <script src=" {% static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %} "></script>

    <!-- Vendors -->
    <script src=" {% static 'assets/vendor/choices/js/choices.min.js' %} "></script>
    <script src=" {% static 'assets/vendor/flatpickr/js/flatpickr.min.js' %} "></script>

    <!-- ThemeFunctions -->
    <script src=" {% static 'assets/js/functions.js' %} "></script>
  </body>
</html>
